データ結合

In [2]:
import pandas as pd
import numpy as np
import glob

In [3]:
df1 = pd.read_csv("train.csv", header = 0, encoding = "SHIFT-JIS")
df2 = pd.read_csv("weather.csv", header = 0, encoding = "SHIFT-JIS")

In [4]:
df1

       kind      date  amount  mode_price      area
0      だいこん  20051107  201445       735.0        千葉
1      だいこん  20051108  189660       840.0  千葉_各地_青森
2      だいこん  20051110  218166       735.0  千葉_各地_青森
3      だいこん  20051111  182624       682.5     千葉_青森
4      だいこん  20051112  220691       682.5     千葉_青森
...     ...       ...     ...         ...       ...
97777   しめじ  20170526   17231        48.5     新潟_長野
97778   しめじ  20170527   17105        48.5     新潟_長野
97779   しめじ  20170529   12406        48.5     新潟_長野
97780   しめじ  20170530   12320        48.5     新潟_長野
97781   しめじ  20170531   11635        43.0     新潟_長野

[97782 rows x 5 columns]

In [5]:
df2

,date,mean_temp,max_temp,max_temp_time,min_temp,min_temp_time,sum_rain,sun_time,mean_humid,area
0,20041106,13.1,20.1,2004/11/6 12:50,8.1,2004/11/6 05:31,5.0,1.6,77.0,青森
1,20041107,9.6,12.5,2004/11/7 13:40,5.4,2004/11/7 22:17,0.0,4.1,63.0,青森
2,20041108,9.0,15.5,2004/11/8 12:51,3.2,2004/11/8 06:28,0.0,8.9,72.0,青森
3,20041109,12.2,17.7,2004/11/9 14:40,5.7,2004/11/9 02:49,1.5,1.2,85.0,青森
4,20041110,11.6,16.4,2004/11/10 14:42,6.9,2004/11/10 06:23,0.0,7.5,89.0,青森
...,...,...,...,...,...,...,...,...,...,...
204315,20220426,21.3,23.6,2022/4/26 14:27,17.9,2022/4/26 04:17,2.5,0.0,89.0,東京
204316,20220427,23.0,27.7,2022/4/27 13:12,18.9,2022/4/28 0:00,0.5,1.6,79.0,東京
204317,20220428,16.9,21.1,2022/4/28 15:03,14.2,2022/4/28 22:40,0.0,5.5,57.0,東京
204318,20220429,12.9,16.4,2022/4/29 09:21,9.0,2022/4/29 23:55,40.0,0.2,86.0,東京
204319,20220430,12.6,18.4,2022/4/30 14:49,7.4,2022/4/30 05:28,0.0,12.4,64.0,東京

In [6]:
df1.nunique()

kind             44
date           4379
amount        74257
mode_price     1241
area            266
dtype: int64

In [7]:
df2.nunique()

date               6385
mean_temp           481
max_temp            485
max_temp_time    193876
min_temp            522
min_temp_time    179561
sum_rain            432
sun_time            147
mean_humid           84
area                 32
dtype: int64

In [8]:
df1.count

<bound method DataFrame.count of        kind      date  amount  mode_price      area
0      だいこん  20051107  201445       735.0        千葉
1      だいこん  20051108  189660       840.0  千葉_各地_青森
2      だいこん  20051110  218166       735.0  千葉_各地_青森
3      だいこん  20051111  182624       682.5     千葉_青森
4      だいこん  20051112  220691       682.5     千葉_青森
...     ...       ...     ...         ...       ...
97777   しめじ  20170526   17231        48.5     新潟_長野
97778   しめじ  20170527   17105        48.5     新潟_長野
97779   しめじ  20170529   12406        48.5     新潟_長野
97780   しめじ  20170530   12320        48.5     新潟_長野
97781   しめじ  20170531   11635        43.0     新潟_長野

[97782 rows x 5 columns]>

In [9]:
df2.count

<bound method DataFrame.count of             date  mean_temp  max_temp     max_temp_time  min_temp  \
0       20041106       13.1      20.1   2004/11/6 12:50       8.1
1       20041107        9.6      12.5   2004/11/7 13:40       5.4
2       20041108        9.0      15.5   2004/11/8 12:51       3.2
3       20041109       12.2      17.7   2004/11/9 14:40       5.7
4       20041110       11.6      16.4  2004/11/10 14:42       6.9
...          ...        ...       ...               ...       ...
204315  20220426       21.3      23.6   2022/4/26 14:27      17.9
204316  20220427       23.0      27.7   2022/4/27 13:12      18.9
204317  20220428       16.9      21.1   2022/4/28 15:03      14.2
204318  20220429       12.9      16.4   2022/4/29 09:21       9.0
204319  20220430       12.6      18.4   2022/4/30 14:49       7.4

           min_temp_time  sum_rain  sun_time  mean_humid area
0        2004/11/6 05:31       5.0       1.6        77.0   青森
1        2004/11/7 22:17       0.0       4.1        63.0   青森
2        2004/11/8 06:28       0.0       8.9        72.0   青森
3        2004/11/9 02:49       1.5       1.2        85.0   青森
4       2004/11/10 06:23       0.0       7.5        89.0   青森
...                  ...       ...       ...         ...  ...
204315   2022/4/26 04:17       2.5       0.0        89.0   東京
204316    2022/4/28 0:00       0.5       1.6        79.0   東京
204317   2022/4/28 22:40       0.0       5.5        57.0   東京
204318   2022/4/29 23:55      40.0       0.2        86.0   東京
204319   2022/4/30 05:28       0.0      12.4        64.0   東京

[204320 rows x 10 columns]>

In [10]:
df1.dtypes

kind           object
date            int64
amount          int64
mode_price    float64
area           object
dtype: object

In [11]:
df2.dtypes

date               int64
mean_temp        float64
max_temp         float64
max_temp_time     object
min_temp         float64
min_temp_time     object
sum_rain         float64
sun_time         float64
mean_humid       float64
area              object
dtype: object