データ結合

In [1]:
import pandas as pd
import numpy as np
import glob

In [2]:
df1 = pd.read_csv("train.csv", header = 0, encoding = "SHIFT-JIS")
df2 = pd.read_csv("weather.csv", header = 0, encoding = "SHIFT-JIS")

In [3]:
df1

       kind      date  amount  mode_price      area
0      だいこん  20051107  201445       735.0        千葉
1      だいこん  20051108  189660       840.0  千葉_各地_青森
2      だいこん  20051110  218166       735.0  千葉_各地_青森
3      だいこん  20051111  182624       682.5     千葉_青森
4      だいこん  20051112  220691       682.5     千葉_青森
...     ...       ...     ...         ...       ...
97777   しめじ  20170526   17231        48.5     新潟_長野
97778   しめじ  20170527   17105        48.5     新潟_長野
97779   しめじ  20170529   12406        48.5     新潟_長野
97780   しめじ  20170530   12320        48.5     新潟_長野
97781   しめじ  20170531   11635        43.0     新潟_長野

[97782 rows x 5 columns]

In [4]:
df2

,date,mean_temp,max_temp,max_temp_time,min_temp,min_temp_time,sum_rain,sun_time,mean_humid,area
0,20041106,13.1,20.1,2004/11/6 12:50,8.1,2004/11/6 05:31,5.0,1.6,77.0,青森
1,20041107,9.6,12.5,2004/11/7 13:40,5.4,2004/11/7 22:17,0.0,4.1,63.0,青森
2,20041108,9.0,15.5,2004/11/8 12:51,3.2,2004/11/8 06:28,0.0,8.9,72.0,青森
3,20041109,12.2,17.7,2004/11/9 14:40,5.7,2004/11/9 02:49,1.5,1.2,85.0,青森
4,20041110,11.6,16.4,2004/11/10 14:42,6.9,2004/11/10 06:23,0.0,7.5,89.0,青森
...,...,...,...,...,...,...,...,...,...,...
204315,20220426,21.3,23.6,2022/4/26 14:27,17.9,2022/4/26 04:17,2.5,0.0,89.0,東京
204316,20220427,23.0,27.7,2022/4/27 13:12,18.9,2022/4/28 0:00,0.5,1.6,79.0,東京
204317,20220428,16.9,21.1,2022/4/28 15:03,14.2,2022/4/28 22:40,0.0,5.5,57.0,東京
204318,20220429,12.9,16.4,2022/4/29 09:21,9.0,2022/4/29 23:55,40.0,0.2,86.0,東京
204319,20220430,12.6,18.4,2022/4/30 14:49,7.4,2022/4/30 05:28,0.0,12.4,64.0,東京

In [5]:
df1.nunique()

kind             44
date           4379
amount        74257
mode_price     1241
area            266
dtype: int64

In [6]:
df2.nunique()

date               6385
mean_temp           481
max_temp            485
max_temp_time    193876
min_temp            522
min_temp_time    179561
sum_rain            432
sun_time            147
mean_humid           84
area                 32
dtype: int64

In [7]:
df1.count

<bound method DataFrame.count of        kind      date  amount  mode_price      area
0      だいこん  20051107  201445       735.0        千葉
1      だいこん  20051108  189660       840.0  千葉_各地_青森
2      だいこん  20051110  218166       735.0  千葉_各地_青森
3      だいこん  20051111  182624       682.5     千葉_青森
4      だいこん  20051112  220691       682.5     千葉_青森
...     ...       ...     ...         ...       ...
97777   しめじ  20170526   17231        48.5     新潟_長野
97778   しめじ  20170527   17105        48.5     新潟_長野
97779   しめじ  20170529   12406        48.5     新潟_長野
97780   しめじ  20170530   12320        48.5     新潟_長野
97781   しめじ  20170531   11635        43.0     新潟_長野

[97782 rows x 5 columns]>

In [8]:
df2.count

<bound method DataFrame.count of             date  mean_temp  max_temp     max_temp_time  min_temp  \
0       20041106       13.1      20.1   2004/11/6 12:50       8.1
1       20041107        9.6      12.5   2004/11/7 13:40       5.4
2       20041108        9.0      15.5   2004/11/8 12:51       3.2
3       20041109       12.2      17.7   2004/11/9 14:40       5.7
4       20041110       11.6      16.4  2004/11/10 14:42       6.9
...          ...        ...       ...               ...       ...
204315  20220426       21.3      23.6   2022/4/26 14:27      17.9
204316  20220427       23.0      27.7   2022/4/27 13:12      18.9
204317  20220428       16.9      21.1   2022/4/28 15:03      14.2
204318  20220429       12.9      16.4   2022/4/29 09:21       9.0
204319  20220430       12.6      18.4   2022/4/30 14:49       7.4

           min_temp_time  sum_rain  sun_time  mean_humid area
0        2004/11/6 05:31       5.0       1.6        77.0   青森
1        2004/11/7 22:17       0.0       4.1        63.0   青森
2        2004/11/8 06:28       0.0       8.9        72.0   青森
3        2004/11/9 02:49       1.5       1.2        85.0   青森
4       2004/11/10 06:23       0.0       7.5        89.0   青森
...                  ...       ...       ...         ...  ...
204315   2022/4/26 04:17       2.5       0.0        89.0   東京
204316    2022/4/28 0:00       0.5       1.6        79.0   東京
204317   2022/4/28 22:40       0.0       5.5        57.0   東京
204318   2022/4/29 23:55      40.0       0.2        86.0   東京
204319   2022/4/30 05:28       0.0      12.4        64.0   東京

[204320 rows x 10 columns]>

In [9]:
df1.dtypes

kind           object
date            int64
amount          int64
mode_price    float64
area           object
dtype: object

In [10]:
df2.dtypes

date               int64
mean_temp        float64
max_temp         float64
max_temp_time     object
min_temp         float64
min_temp_time     object
sum_rain         float64
sun_time         float64
mean_humid       float64
area              object
dtype: object

In [11]:
df1.describe()

               date         amount    mode_price
count  9.778200e+04   97782.000000  97782.000000
mean   2.013619e+07   87095.257246   1341.207081
std    4.726274e+04   84438.195701   1304.031597
min    2.005111e+07       1.000000     18.500000
25%    2.009123e+07   21664.250000    227.000000
50%    2.014012e+07   58335.500000   1242.000000
75%    2.018020e+07  128100.750000   1890.000000
max    2.022043e+07  965216.000000  25920.000000

In [12]:
df2.describe()

,date,mean_temp,max_temp,min_temp,sum_rain,sun_time,mean_humid
count,2.043200e+05,203953.000000,203953.000000,203952.000000,203951.000000,203888.000000,203922.000000
mean,2.013157e+07,15.380033,19.898426,11.549927,4.420339,5.427207,69.100445
std,5.053792e+04,8.808578,8.977545,9.183661,13.573248,4.048071,13.230785
min,2.004111e+07,-16.000000,-9.000000,-24.500000,0.000000,0.000000,17.000000
25%,2.009032e+07,8.000000,12.700000,3.800000,0.000000,1.300000,60.000000
50%,2.013080e+07,15.900000,20.600000,11.700000,0.000000,5.600000,70.000000
75%,2.017122e+07,22.700000,27.200000,19.400000,2.000000,9.000000,79.000000
max,2.022043e+07,33.900000,41.100000,30.500000,429.500000,14.600000,100.000000

In [13]:
df2["area"].unique()

array(['青森', '盛岡', '秋田', '仙台', '山形', '福島', '水戸', '宇都宮', '前橋', '熊谷', '甲府',
       '横浜', '千葉', '浜松', '長野', '新潟', '名古屋', '高松', '徳島', '高知', '松山', '那覇',
       '鹿児島', '宮崎', '長崎', '熊本', '福岡', '佐賀', '和歌山', '神戸', '帯広', '東京'],
      dtype=object)

In [14]:
df1["area"].unique()

array(['千葉', '千葉_各地_青森', '千葉_青森', '千葉_各地', '千葉_神奈川', '千葉_各地_神奈川', '神奈川',
       '千葉_各地_茨城', '千葉_茨城', '青森', '北海道_青森', '北海道_各地_青森', '北海道_各地',
       '北海道_千葉_各地', '各地_神奈川', '各地_青森', '各地', '北海道', '千葉_埼玉', '千葉_各地_埼玉',
       '各地_埼玉', '埼玉', '北海道_千葉', '千葉_徳島', '千葉_各地_徳島', '徳島', '各地_徳島',
       '中国_各地_徳島', '中国_北海道', '各地_徳島_静岡', '徳島_静岡', '茨城', '各地_茨城',
       '各地_茨城_青森', '茨城_青森', '佐賀_茨城', '佐賀_各地_茨城', '千葉_各地_愛知', '千葉_愛知',
       '愛知', '各地_愛知_神奈川', '岩手_群馬', '各地_岩手_群馬', '北海道_各地_群馬', '各地_群馬', '群馬',
       '千葉_各地_群馬', '千葉_群馬', '各地_愛知', '愛知_神奈川', '各地_群馬_茨城', '各地_茨城_香川',
       '各地_静岡_香川', '各地_香川', '各地_茨城_長野', '茨城_長野', '長野', '群馬_長野',
       '各地_群馬_長野', '各地_長野', '静岡_香川', '各地_茨城_静岡', '兵庫_各地_茨城', '兵庫_各地_静岡',
       '各地_静岡', '兵庫_茨城', '兵庫_各地', '兵庫_静岡', '茨城_静岡', '静岡', '各地_茨城_長崎',
       '群馬_茨城', '埼玉_東京', '各地_埼玉_東京', '各地_東京', '東京', '各地_埼玉_群馬', '埼玉_群馬',
       '各地_栃木', '栃木_群馬', '栃木', '栃木_茨城', '各地_栃木_群馬', '中国_各地_青森',
       '各地_埼玉_青森', '埼玉_青森', '各地_秋田_青森', '秋田_青森', '各地_秋田', '千葉_栃木',
       '千葉_各地_栃木', '各地_埼玉_愛知', '埼玉_愛知', '香川', '福島_長野', '千葉_各地_宮崎',
       '各地_埼玉_福島', '各地_岩手_福島', '各地_福島', '各地_埼玉_宮崎', '各地_福島_茨城', '岩手',
       '各地_宮崎_高知', '各地_宮崎_群馬', '各地_福島_群馬', 'トンガ_北海道', 'トンガ', 'トンガ_北海道_各地',
       'トンガ_メキシコ_各地', 'トンガ_各地', 'トンガ_メキシコ', 'メキシコ', 'メキシコ_各地',
       'ニュージーランド_沖縄', 'ニュージーランド', 'ニュージーランド_各地', 'ニュージーランド_鹿児島',
       'ニュージーランド_各地_鹿児島', '各地_鹿児島', '各地_神奈川_茨城', 'ニュージーランド_各地_沖縄',
       'メキシコ_各地_鹿児島', 'メキシコ_鹿児島', '鹿児島', '神奈川_茨城', '北海道_各地_茨城', '北海道_茨城',
       'ニュージーランド_メキシコ', 'ニュージーランド_メキシコ_各地', 'メキシコ_北海道', 'メキシコ_北海道_各地',
       '各地_沖縄', '各地_茨城_鹿児島', '高知', '各地_福岡_高知', '各地_高知', '各地_栃木_高知',
       '福岡_高知', '栃木_高知', '各地_群馬_高知', '佐賀_高知', '千葉_各地_熊本', '各地_愛知_熊本',
       '各地_栃木_熊本', '各地_群馬_青森', '各地_栃木_青森', '各地_栃木_茨城', '各地_福島_青森',
       '各地_熊本', '千葉_各地_福島', '北海道_各地_福島', '宮崎_茨城', '各地_宮崎_茨城', '宮崎_高知',
       '各地_岩手_茨城', '岩手_茨城', '各地_岩手', '各地_宮崎', '各地_茨城_高知', '茨城_高知', '長崎',
       '北海道_長崎', '北海道_各地_鹿児島', '北海道_鹿児島', '長崎_鹿児島', '各地_長崎_鹿児島', '各地_長崎',
       '千葉_各地_長崎', '千葉_静岡', '千葉_各地_静岡', '長崎_静岡', '各地_長崎_静岡', '北海道_各地_長崎',
       '各地_香川_高知', '香川_高知', '千葉_各地_高知', '千葉_各地_香川', '各地_埼玉_愛媛', '埼玉_愛媛',
       '中国_北海道_各地', 'アメリカ_北海道_各地', 'アメリカ_北海道', '佐賀_北海道_各地', '佐賀_北海道',
       '佐賀_各地', '佐賀', '佐賀_兵庫_各地', '佐賀_各地_香川', '佐賀_兵庫', '佐賀_香川',
       '兵庫_北海道_各地', '兵庫_北海道', '北海道_静岡', '兵庫', '各地_岩手_栃木', '各地_岩手_秋田',
       '岩手_秋田', '岩手_栃木', '北海道_各地_岩手', '各地_栃木_秋田', '千葉_各地_岩手', '千葉_各地_秋田',
       '愛知_静岡', '各地_愛知_静岡', '各地_長野_静岡', '長野_静岡', '各地_福岡_静岡', '福岡_静岡',
       '福島', '千葉_香川', '福岡', '各地_熊本_福岡', '各地_福岡', '愛知_群馬', '各地_愛知_群馬',
       '千葉_鹿児島', '千葉_各地_鹿児島', '各地_宮城_茨城', '各地_宮城', '宮城', '各地_愛媛',
       '千葉_各地_愛媛', '愛媛', '千葉_愛媛', '宮城_茨城', '各地_宮城_秋田', '栃木_長野',
       '各地_福岡_鹿児島', '福岡_鹿児島', '千葉_各地_山梨', '千葉_山梨', '千葉_岩手', '北海道_群馬',
       '山梨', '北海道_岩手', '各地_山梨', '山梨_茨城', '各地_山梨_茨城', '福島_青森', '各地_福島_長崎',
       '福島_長崎', '各地_福島_鹿児島', '各地_沖縄_鹿児島', '山形', '山形_群馬', '各地_秋田_群馬',
       '各地_山形_秋田', '各地_和歌山_群馬', '和歌山_群馬', '和歌山', '各地_和歌山', '中国', 'カナダ_中国',
       'アメリカ_中国', 'アメリカ', 'アメリカ_カナダ', 'カナダ', '各地_高知_鹿児島', '高知_鹿児島',
       '各地_宮崎_鹿児島', '宮崎_群馬', '宮崎', '各地_沖縄_群馬', '各地_埼玉_茨城', '埼玉_茨城',
       '新潟_長野'], dtype=object)

In [15]:
df1.groupby('kind')[['mode_price']].mean().sort_values(by='mode_price', ascending=False)

           mode_price
kind
まつたけ     11958.579545
うめ        4260.568768
たけのこ      3352.057112
さといも      3111.933740
ピース       2728.024752
セルリー      2584.674411
たまねぎ      2407.175344
かぼちゃ      2360.578858
じゃがいも     2096.550217
そらまめ      2067.851992
なす        2015.771824
うど        1985.454545
レタス       1792.306748
いんげん      1780.221673
きゅうり      1667.792761
ねぎ        1664.451416
れんこん      1568.266580
さやえんどう    1566.240991
ブロッコリー    1493.806746
トマト       1446.975337
にんじん      1434.455361
さつまいも     1288.163899
とうもろこし    1253.184135
ごぼう       1191.034446
はくさい      1095.435202
ふき        1090.567241
レイシにがうり   1014.616419
キャベツ       965.657113
だいこん       961.952229
えだまめ       282.944303
なのはな       179.402597
ミニトマト      146.542770
こまつな       137.469922
なましいたけ     135.040149
アスパラガス     127.595897
かぶ         120.314887
ほうれんそう     114.684389
しゅんぎく       99.664516
みずな         94.406250
オクラ         89.012465
ピーマン        77.255200
にら          68.646226
しめじ         47.909091
えのきだけ       22.962687

In [23]:
df2=df2.replace("盛岡","岩手")
df2=df2.replace("仙台","宮城")
df2=df2.replace("水戸","茨城")
df2=df2.replace("宇都宮","栃木")
df2=df2.replace("前橋","群馬")
df2=df2.replace("熊谷","埼玉")
df2=df2.replace("甲府","山梨")
df2=df2.replace("横浜","神奈川")
df2=df2.replace("浜松","静岡")
df2=df2.replace("高松","香川")
df2=df2.replace("松山","愛媛")
df2=df2.replace("那覇","沖縄")
df2=df2.replace("神戸","兵庫")
df2=df2.replace("帯広","北海道")

In [24]:
df2['year'] = df2['date'].apply(lambda x: int(str(x)[:4]))
df2['month'] = df2['date'].apply(lambda x: int(str(x)[4:6]))

In [ ]:
agg_cols = ['mean_temp', 'max_temp', 'min_temp', 'sum_rain', 'sun_time', 'mean_humid']
gb_df = df2.groupby(['area', 'year', 'month'])[agg_cols].agg(['mean','max','min']).reset_index()

new_cols = []
for col1, col2 in gb_df.columns:
    if col2:
        new_cols.append(col2+'_'+col1)
    else:
        new_cols.append(col1)

gb_df.columns = new_cols
gb_df

In [34]:
agg_cols = ['mean_temp', 'max_temp', 'min_temp', 'sum_rain', 'sun_time', 'mean_humid']
gb_df = df2.groupby(['area', 'year', 'month'])[agg_cols].agg(['mean','max','min']).reset_index()

new_cols = []
for col1, col2 in gb_df.columns:
    if col2:
        new_cols.append(col2+'_'+col1)
    else:
        new_cols.append(col1)

gb_df.columns = new_cols
gb_df

,area,year,month,mean_mean_temp,max_mean_temp,min_mean_temp,mean_max_temp,max_max_temp,min_max_temp,mean_min_temp,...,min_min_temp,mean_sum_rain,max_sum_rain,min_sum_rain,mean_sun_time,max_sun_time,min_sun_time,mean_mean_humid,max_mean_humid,min_mean_humid
0,佐賀,2004,11,13.792000,20.7,9.6,19.380000,25.6,13.7,8.820000,...,3.8,1.480000,18.5,0.0,6.512000,9.7,0.0,67.480000,80.0,56.0
1,佐賀,2004,12,9.735484,14.4,3.5,14.712903,20.2,7.0,4.996774,...,-0.7,3.322581,81.5,0.0,5.196774,9.5,0.0,71.193548,86.0,60.0
2,佐賀,2005,1,5.048387,8.6,2.0,8.970968,15.2,4.7,1.219355,...,-2.4,1.258065,12.5,0.0,3.403226,8.4,0.0,69.032258,92.0,48.0
3,佐賀,2005,2,5.442857,13.0,0.3,9.517857,16.7,2.9,1.707143,...,-3.0,3.553571,31.0,0.0,3.767857,10.5,0.0,71.250000,94.0,48.0
4,佐賀,2005,3,8.803226,13.9,2.7,13.722581,19.5,6.1,4.003226,...,-1.7,4.693548,63.0,0.0,5.487097,11.5,0.0,68.000000,90.0,44.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6715,鹿児島,2021,12,10.451613,14.5,3.9,15.135484,19.8,5.9,6.261290,...,0.2,1.548387,41.0,0.0,5.693548,9.8,0.0,67.516129,90.0,53.0
6716,鹿児島,2022,1,9.012903,14.4,6.1,13.500000,17.6,9.1,5.341935,...,0.2,1.451613,32.5,0.0,4.429032,10.0,0.0,63.903226,91.0,48.0
6717,鹿児島,2022,2,8.314286,13.8,5.2,12.721429,18.3,8.5,4.932143,...,1.2,0.821429,10.0,0.0,4.642857,10.7,0.0,62.428571,83.0,47.0
6718,鹿児島,2022,3,14.361290,20.0,9.4,19.477419,25.7,12.1,10.032258,...,4.1,6.000000,82.5,0.0,4.958065,11.1,0.0,71.064516,88.0,49.0
6719,鹿児島,2022,4,18.423333,23.9,13.8,23.096667,27.2,17.1,14.590000,...,8.1,11.166667,80.5,0.0,6.443333,12.1,0.0,71.200000,94.0,46.0

In [26]:
gb_df.nunique()

area                 32
year                 19
month                12
mean_mean_temp     6297
max_mean_temp       345
min_mean_temp       402
mean_max_temp      6299
max_max_temp        369
min_max_temp        393
mean_min_temp      6318
max_min_temp        342
min_min_temp        428
mean_sum_rain      1841
max_sum_rain        421
min_sum_rain          1
mean_sun_time      5186
max_sun_time        102
min_sun_time         38
mean_mean_humid    2322
max_mean_humid       42
min_mean_humid       66
dtype: int64

In [27]:
df2["area"].unique()

array(['青森', '岩手', '秋田', '宮城', '山形', '福島', '茨城', '栃木', '群馬', '埼玉', '山梨',
       '神奈川', '千葉', '静岡', '長野', '新潟', '名古屋', '香川', '徳島', '高知', '愛媛', '沖縄',
       '鹿児島', '宮崎', '長崎', '熊本', '福岡', '佐賀', '和歌山', '兵庫', '北海道', '東京'],
      dtype=object)